<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-green.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Ponte Verde</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="~/Content/images/favicon.ico">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PonteVerde">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="~/Content/images/busca.jpg">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.ico" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Content/images/favicon.ico" sizes="32x32">

    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico" />
    
    <link rel="stylesheet" href="~/Content/Site.css" content="text/css">
</head>
<body>
    @RenderBody()
</body>
</html>
