<div class="mdl-layout__drawer">
    <span class="mdl-layout-title" id="p-layout-title">
        <h3 id="p-nome"> <i class="material-icons">arrow_back</i> Alberto</h3>
        <h6>alberto@mail.com</h6>
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="index.html"><i class="material-icons" role="presentation">home</i>Buscar</a>
        <a class="mdl-navigation__link" href="perfil.html"><i class="material-icons" role="presentation">account_circle</i> Meu Perfil</a>
        <a class="mdl-navigation__link" href="mylojas.html"><i class="material-icons" role="presentation">store</i>Lojas Favoritas</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">notifications</i> Notificações</a>
        <a class="mdl-navigation__link" href="busca.html"><i class="material-icons" role="presentation">find_in_page</i> Pesquisar</a>
    </nav>
</div>
