
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var oUserSession = Session["UserSession"] as ponteverde.Helpers.SessionController.UserSession;
}


<center>
    <h2>@ViewBag.ErrorMsg</h2>
</center>

