@model IQueryable<ponteverde.Models.loja>
@{
    ViewBag.Title = "Vitrine";

    var oUserSession = Session["UserSession"] as ponteverde.Helpers.SessionController.UserSession;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">PonteVerde<img src="~/Content/images/logo.png"></span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- PESQUISA BOX -->
            <a href="~/busca">
                <button class="mdl-button mdl-js-button" style="color:white;">
                    <i class="material-icons">search</i>
                </button>
            </a>

            <!-- BOTAO BOLINHA -->
            <!-- Right aligned menu below button -->
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            @if (oUserSession != null)
            {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item"><a href="">Logout</a></li>                    
                </ul>
            }
            else
            {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item"><a href="~/entrar">Logar</a></li>
                </ul>
            }
            
        </div>
    </header>

    <!-- MENU GAVETA -->
    @Html.Partial("~/Views/Shared/Drawer.cshtml") 

    <!-- CONTENT -->
    <main class="mdl-layout__content">
        <div id="main-card" class="card-content mdl-grid">

            <!-- FILTRO DOS DADOS -->
            <div id="content-filter" class="mdl-cell mdl-cell--12-col mdl-layout__header-row mdl-typography--display-4">
                <div class="mdl-layout-spacer"></div>
                <h6>Na minha cidade</h6>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                    <i class="material-icons" style="margin-top:5px;">keyboard_arrow_down</i>
                </button>
                <ul id="content-filter-menu" class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                    <a href=""><li class="mdl-menu__item "><i class="material-icons" role="presentation">gps_fixed</i> Lojas mais próximas</li></a>
                    <a href=""><li class="mdl-menu__item"><i class="material-icons" role="presentation">hdr_weak</i> No meu bairro</li></a>
                    <a href=""><li class="mdl-menu__item"><i class="material-icons" role="presentation">lens</i> Na minhas cidade</li></a>
                </ul>
            </div>

            <!-- CARD -->
            @if(Model == null)
            {
                <h6 style="margin-left:20px;">Não existem lojas especializadas ao seu redor.</h6>
            }
            else
            {                            
                foreach (var loja in Model)
                {
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                        <!-- logo -->
                        <a href="~/loja/perfil/@loja.idUsername">
                            <center>
                                <div class="home-card-logo mdl-button--icon mdl-js-ripple-effect"
                                     style="background-image: url(../@loja.fotoperfil);"
                                     class="mdl-shadow--6dp">
                                </div>
                            </center>
                        </a>
                        <!-- media -->
                        <div class="mdl-card__media">
                            <img src="../@loja.fotowall">
                        </div>
                        <!-- titulo -->
                        <div class="mdl-card__title">
                            <h4 class="mdl-card__title-text">@loja.nome</h4>
                        </div>
                        <!-- texto -->
                        <div class="mdl-card__supporting-text">
                            <i class="material-icons">room</i>
                            <span class="mdl-typography--font-light mdl-typography--subhead"> @loja.logradouro, @loja.numero</span>
                            <br>
                            <p class="mdl-typography--font-light mdl-typography--subhead">
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </p>
                        </div>
                    </div>
                }  
            }          
            <!-- CARREGAR MAIS -->
            <div id="index-load">
                <center>
                    <button id="i-b-load" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="color:white;">
                        CARREGAR MAIS
                    </button>
                </center>
            </div>
            <!--  END CARD CONTENT -->
        </div>

        <!-- RODAPE -->
        <footer class="footer">
            <div class="footer-title">
                <h6 style="color:#666;">LES | 2015 PONTEVERDE</h6>
            </div>
        </footer>
    </main>
</div>
