@model ponteverde.Helpers.ViewModel.BuscaViewModel

@{    
    Layout = "~/Views/Shared/_Layout.cshtml"; 

    var ajaxOptions = new AjaxOptions()
   {
       HttpMethod = "Get",
       UpdateTargetId = "div-busca-result",
       InsertionMode = InsertionMode.Replace,
   };

    
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--fixed-tabs">
    <header id="b-header" class="mdl-layout__header">
        <div id="b-header-search">
            <i id="b-header-icon" class="material-icons">search</i>            
            @using (Ajax.BeginForm("BuscarNome", new { chave = "Nome" }, ajaxOptions, new { id = "b-header-form" }))
            {               
                @Html.TextBoxFor(model => model.chave, new { id = "b-h-search-input", placeholder = "Buscar por lojas, pessoas e serviços..." })
            }                                        
        </div>

        <!-- MENU TAB -->       
        <div id="b-h-tab" class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Lojas</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">Clientes</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">Serviços</a>
        </div>               
    </header>
    
   <main id="div-busca-result" class="mdl-layout__content">
       @Html.Partial("BuscaResult", Model)        
    </main>


</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    var x = document.getElementById("msg");
    var geocoder = new google.maps.Geocoder;

    //Extrai determinada parte do endereço completo.
    function extractFromAddress(components, type) {
        for (var i = 0; i < components.length; i++)
            for (var j = 0; j < components[i].types.length; j++)
                if (components[i].types[j] == type) return components[i].long_name;
        return "";
    }

    //Recebe a localização como position, e caso dê certo, chama showPosition, senão, chama showError.
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
        else { x.innerHTML = "Seu browser não suporta Geolocalização."; }
    }

    //Mostra as coordenadas - lat/lon e mostra o bairro + cidade.
    function showPosition(position) {
        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var cidade = extractFromAddress(results[0].address_components, "locality");
                    var bairro = extractFromAddress(results[0].address_components, "sublocality_level_1");

                    console.log(cidade, bairro);
                    mostraPrincipalBairro(cidade, bairro);

                    //x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
                    //x.innerHTML = x.innerHTML + "<br>Bairro: " + bairro + "<br>Cidade:" + cidade;
                }
            } else alert("Geocode was not successful for the following reason: " + status);
        });
    }

    //Mostra erro, caso não seja possível utilizar a API, por N motivos.
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("Usuário rejeitou a solicitação de Geolocalização.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Localização indisponível.");
                break;
            case error.TIMEOUT:
                alert("O tempo da requisição expirou.");
                break;
            case error.UNKNOWN_ERROR:
                alert("Algum erro desconhecido aconteceu.");
                break;
        }
    }

    var path = window.location.hostname;
    var port = window.location.port;
   
    function mostraPrincipalBairro(cidade, bairro) {

        var url = "http://" + path + ":" + port + "/busca/local/" + cidade + "/" + bairro;
        window.location.href = url;
    }
</script>

