@model ponteverde.Controllers.Dto.ClienteCadastroDto
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div id="login-body">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span id="login-title" class="mdl-layout-title">Cadastro <i class="material-icons">done</i></span>
            </div>
        </header>

        <main class="mdl-layout__content">
            <section id="login-content" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div id="login-form">
                    <h5>Bem-Vindo ao Ponte Verde! </h5>
                    <h6 style="color:#777;">Ache aqui uma vida saudável</h6>
                    @Html.Partial("~/Views/Cliente/FormNew.cshtml", Model)
                </div>
            </section>

            <section id="login-content" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div id="login-form">
                    <button id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">account_circle</i> VER TERMOS DE USO
                    </button>
                </div>
            </section>

            <!-- RODAPE -->
            <footer class="footer">
                <div class="footer-title">
                    <h6 style="color:#666;">+ 2015 PONTEVERDE</h6>
                </div>
            </footer>

        </main>
    </div>
</div>

<script type="text/javascript"> 
    jQuery(function ($) {
        $("#cep").change(function () {
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
               function (result) {                   
                   if (result.status != 1) {
                       alert(result.message || "Houve um erro desconhecido");
                       return;
                   }
                   $("#cep").val(result.code);                   
                   $("#cidade").val(result.city);
                   $("#bairro").val(result.district);
                   $("#endereco").val(result.address);
               });
        });
    });
</script>
